<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrBNEcZfZxMZpc1-HWyHyoC7Dlmat_bIA</string>
	<key>GCM_SENDER_ID</key>
	<string>831560080333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strescarki.stressCarki</string>
	<key>PROJECT_ID</key>
	<string>stress-spinner</string>
	<key>STORAGE_BUCKET</key>
	<string>stress-spinner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831560080333:ios:714c04f3bb137243f64284</string>
</dict>
</plist>